{% extends "home.html" %}
{% block content %}

<br><br><br>
<div class="card small-width text-center border border-light p-5">

    {% if contact_count == 0 %}
    <p class="h4 mb-4">You haven't came into contact with any of the COVID-19 active people in our database</p>
    <p class="h4 mb-4">Stay Safee</p>
    {% endif %}

    {% if contact_count > 0 %}

    <p class="h4 mb-4">Full List of previous contacts with Covid-19 active people</p>
    <hr>
    <p>Here you can see a list of the people who are covid-19 positive previously with the date of the contact and the date 
        they have been registered as active into our database.
    </p>
    <p>PS: Some of the people you had contact with are still not registered in our database.</p>

    <table class="table">
        <tr>
            {% for col in column_names %}
            <th>{{col}}</th>
            {% endfor %}
        </tr>
        {% for row in row_data %}
        <tr>
            {% for col, row_ in zip(column_names, row) %}
            <td>{{row_}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    
    </table>
    {% endif %}

    <form action="/return" method="POST" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
          <button type="submit" class="btn btn-primary"> 
              Go Back
          </button>
        </div>
        <div class="col-md-3"></div>
        </div>
      </form>
</div>


{% endblock %}